html {
    height: 100%;
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
  }

  .col-1 {
    width: 100%;
    background-color: rgb(255, 255, 255);
  }

  .col-2 {
    min-width: fit-content;
    padding: 15px;

    background-color: black;
    color: white;
  }

  .col-3 {
    width: fit-content;
    min-width: 60%;
    padding: 15px;
    background-color: #F0F0F0;
  }

  .col-4 {
    width: 70%
  }

  div {
    max-width: 100%;
    min-width: fit-content;

  }

  [class*="col-"] {
    float: left; /*Amb l'aparició de flex i grid els float ja es van deixar de fer servir fa 5 anys, 
                    no estan deprecated perquè no trencar projectes antics. */
  }

  .header, .title {
    background-color: black;
    color: white;
  }

  .title {
    margin: 0;
    padding: 8px;
  }

  flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: left;
    align-content: center;
    max-width: 100%;
  }

  flex-item {
    padding: 5px;
    align-items: center;
    padding: 10px;
    gap: 10px;
    row-gap: 10px;
    height: auto;
    max-width: 100%;
    width: 100%;
    min-width: 70%;
  }

  flex-item2 {
    padding: 5px;
    align-items: center;
    padding: 0px;
    gap: 10px;
    row-gap: 10px;
    height: auto;
    max-width: 100%;
    width: 100%;
    background-color: black;
    min-width: fit-content;
    padding: 15px;
    color: white;
    min-width: 30%;
  }

  .responsive {
    width: 100%;
    height: auto;
    max-height: 200px;
    max-width: 200px;
  }
  .titol_llistats {
    font-size: 1.5rem;
    color: rgb(19, 19, 23);
    font-weight: bold;
  }

  h2 {
    text-decoration: underline;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    float: left;
    background-color: #0a0a0a;
    word-spacing: 20px;
    right: 95%;
    gap: 10px;
    width: 100%;
  }

  .logo {
    position: absolute;
    left: 1.67%;
    right: 95.56%;
    top: 1%;
    bottom: 98.4%;
    background-color: #0a0a0a;



  }

  nav a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    color: #FFFFFF;
    text-decoration: none;
  }