html {
    height: 100%;
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
  }

  .demo {
    margin: 0 auto;
    padding-top: 64px;
    width: 94%;
    height: 100%;
  }

  * {
    box-sizing: border-box;
  }

  body {
    box-sizing: inherit;
    min-height: 100%;
    position: relative;
    padding-bottom: 6.74rem;
  }

  main {
    margin: 0 auto;
    padding-top: 32px;
  }


  .col-12 {
    width: 100%;
  }

  /* et falta la classe col-6 */
  .col-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 15px;
  }

  .responsive {
    width: 100%;
    height: auto;
    max-width: 300px;
  }

  .contacte {

    height: auto;

  }



  .titol {
    font-size: 2rem;
    color: rgb(0, 0, 0);
  }

  .titol_llistats {
    font-size: 1.5rem;
    color: rgb(19, 19, 23);
    font-weight: bold;
  }

  .logo2 {
    width: 100px;
    height: 50px;
    border: 1px solid #ddd;
    float: inline-start;
    align-self: flex-start;

  }

  .menu {
    background-color: rgb(64, 62, 62);
    margin-right: 0;
    margin-left: auto;
    text-align: right;
    color: white;
    text-decoration: none;
    padding: 1rem;
    word-spacing: 15px;
  }

  .menu a:link,
  a:visited {
    color: white;
    text-decoration: none;

  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 48px;
    gap: 48px;
    position: relative;
    margin-top: -5px;
    left: 0px;
    background-image: url("assets/img/553-1400x300.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
    height: 300px; 
    /* No és bona pràctica donar alçada als elements, 
      però en cas de l'header es pot fer una excepció per donar-li un efecte banner, 
      per això et comentava que dins del header van els menus, banner així té mida automàtica. */
  }


  nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    float: left;
    background-color: #0a0a0a;
    word-spacing: 20px;
    right: 95%;
    gap: 10px;
  }

  .logo {
    position: absolute;
    left: 1.67%;
    right: 95.56%;
    top: 1%;
    bottom: 98.4%;
    background-color: #0a0a0a;



  }

  nav a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    color: #FFFFFF;
    text-decoration: none;
  }

  .row {

    display: flex;
    flex-wrap: wrap;

  }

  section {
    padding: 1rem;
    margin: 0 auto;
    position: relative;
    text-align: center;


  }

  .Frame1 {
    display: flex;
    flex-direction: column;

    align-items: center;
    padding: 0px;

    position: relative;
  }

  .Frame1 h2 {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #000000;

  }

  /* La classe Frame1 no existeix i per l'especificitat de css no s'estan aplicant els estils al contenidor */
  /* .Frame1 .container { */
  .container {
    display: flex;
    /* flex-direction: row; per defecte és row */
    align-items: center;
    padding: 0px;
    gap: 16px; 

  }

  .Frame1 .container .item {


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;

  }

  .flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 20;
    margin: 0;
    list-style: none;
    width: 100%;
  }

  .flex-item {
    padding: 5px;
    margin-top: 10px;
    line-height: 10px;
    align-items: center;
    padding: 0px;
    gap: 16px;
    row-gap: 10px;
    width: 100%;
    height: auto;
    max-width: 354px;
  }

  .flex-item-aficions {
    padding: 5px;
    margin-top: 10px;
    line-height: 10px;
    align-items: center;
    padding: 0px;
    gap: 16px;
    row-gap: 10px;
    width: 100%;
    height: auto;
    max-width: 354px;
    background-color: #D9D9D9;
    color: #000000;
    border-radius: 10px 10px 10px 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;

  }

  .flex-footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    background-color: rgb(64, 62, 62);
    color: white;
    padding: 1rem;
  }



  .container .item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;
    row-gap: 10px;

  }

  .Frame3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 48px;
    position: relative;
    background-color: #000000;
    color: #FFFFFF;
    padding: 40px;

  }

  .Frame3 .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 99px;
    background-color: #000000;


  }

  .Frame3 .container .item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 16px;
    position: relative;

  }

  .Frame3 .container p {
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 20px;
    color: #ffffff;
    margin-bottom: 10px;
    margin-top: 40px;
    margin-left: 115px;
    text-align: left;
    position: absolute;
    align-self: center;
    justify-content: space-between;



  }

  .card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 24px;
    gap: 24px;

    position: relative;
    width: 340px;
    height: 451.97px;

    border: 1px solid #000000;
    border-radius: 20px 20px 20px 20px;
    width: 100%;
    height: auto;
    max-width: 354px;

  }

  .card p {
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin-top: 10px;
    margin-left: 20px;
    text-align: left;
  }

  .card-body {
    width: 100%;
    height: 200px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
    width: 100%;
    max-width: 354px;

  }

  .Frame2 button {
    width: 200px;
    height: 100px;
    background: #222222;
    border-radius: 10px;
    border: 1px solid #000000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
  }

  footer {
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    background-color: rgb(64, 62, 62);
    color: white;
    padding: 1rem;
  }

  footer .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 99px;
    background-color: rgb(64, 62, 62);
    color: white;
    padding: 1rem;

  }

  .Frame4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 48px;
    position: relative;
    color: #000000;
    padding: 40px;

  }

  .Frame4 .container {
    display: flex;
    flex-direction: col;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 99px;



  }

  .Frame4 .container .item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 16px;
    width: 220px;

    position: relative;
    background-color: #D9D9D9;
    color: #000000;
    border-radius: 10px 10px 10px 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    height: 43px;

  }

/* en aquest mateix css pots maquetar la pàgina de contactes */

/* -------------Contacte------------------*/
.contacte__title {
  text-align: center;
}

.form-group {
  padding: 8px 0;
}

.form-label {
  display: block;
  padding-bottom: 8px;
}

.form-input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #dadada;
}